<div class="flex flex-row border border-gray-200 w-screen h-screen ">
  <div class="flex flex-col border rounded-md p-4 my-5 ml-5 shadow shadow-md w-fit ">
    <div class="flex flex-row items-center h-16 my-2 relative">
      <% unless @current_user.image.nil? %>
        <div class="w-8 h-8 overflow-hidden rounded-full mx-2">
          <%= image_tag(@current_user.image, class: "object-cover w-full h-full") if @current_user.image.representable? %>
        </div>
      <% end %>
      <h5 class="w-fit mx-2"><%= !@current_user.name.nil? ? @current_user.name : @current_user.email %></h5>
      <div class="w-8 h-8 mx-2 align-self-end absolute right-0"><%= link_to( image_tag('home.svg', class: "w-full h-full"), root_path) %></div>
    </div>

    <div class="my-2">
      <h4 class="m-2 mb-3"> Users </h4>
      <%= turbo_stream_from "users" %>
      <div id="users">
        <%@users.each do |i| %>
          <div class="border rounded-md p-1 m-1  ">
            <%= link_to "#{!i.name.nil? ? i.name : i.email}", i, class: "no-underline" %>
          </div>
        <%end %>
      </div>
    </div>
  </div>

  <% if @single_chat_room %>
    <div class="border rounded-md flex flex-col justify-between p-4 pl-10 my-5 mr-5 shadow shadow-md w-full ">
      <div class="border flex flex-row justify-center items-center w-full h-fit rounded-md my-5 py-2">
        <% if @single_chat_room %>
          <% unless @user.image.nil? %>
            <div class="w-8 h-8 overflow-hidden rounded-full mx-2">
              <%= image_tag(@user.image, class: "object-cover w-full h-full") if @user.image.representable? %>
            </div>
          <% end %>

          <h4 class="m-0"> <%= !@user.name.nil? ? @user.name : @user.email%> </h4>
        <% end %>
      </div>

      <div class="overflow-y-scroll mx-2">
        <%= turbo_stream_from @single_chat_room %>
        <div id="messages" class="flex flex-col">
          <%= render @messages, partial: 'messages/message' %>
        </div>
      </div>

      <%= render partial: 'messages/new_message_form', class: "w-full space-between"%>
    </div>
  <% end %>
  <style>
    <%= ".msg-#{current_user&.id}" %> {
        background-color: #7752FE !important;
    }
    <%= ".cont-#{current_user&.id}" %> {
        place-self: end;
        color: white;
    }
  </style>
</div>
