<%= content_tag :div, id: (dom_id accommodation), data: { controller: "places" } do %>
  <h1 class="font-bold text-4xl"><%= accommodation.title %></h1>

  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= accommodation.user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= accommodation.category.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Details:</strong>
    <ul>
      <% accommodation.details.each do |detail| %>
        <li><%= detail.name %></li>
      <% end %>
    </ul>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Price per day:</strong>
    <%= accommodation.price_per_day %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Dates range:</strong>
    <%= accommodation.dates_range %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= accommodation.calculate_rating %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= accommodation.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rules:</strong>
    <%= accommodation.rules %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bedrooms number:</strong>
    <%= accommodation.bedrooms_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bathrooms number:</strong>
    <%= accommodation.bathrooms_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Beds number:</strong>
    <%= accommodation.beds_number %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Max guests number:</strong>
    <%= accommodation.max_guests_number %>
  </p>
  
  <p class="my-5">
    <strong class="block font-medium mb-1">Main image:</strong>
    <%= image_tag accommodation.main_image if accommodation.main_image.attached? %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Secondary images:</strong>
    <% accommodation.secondary_images.each do |secondary_image| %>
      <div class="my-5"><%= image_tag secondary_image %></div>
    <% end %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Address:</strong>
    <span data-places-target="address"><%= accommodation.address %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Latitude:</strong>
    <span data-places-target="latitude"><%= accommodation.latitude %></span>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Longitude:</strong>
    <span data-places-target="longitude"><%= accommodation.longitude %></span>
  </p>

  <%= tag.div class: "my-5 h-[400px]", data: { "places-target": "component" } %>

  <% if action_name != "show" %>
    <%= link_to "Show this accommodation", accommodation, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this accommodation", edit_accommodation_path(accommodation), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
<% end %>
