<div class="container-profile">
  <div class="w-full">
    <% if notice.present? %>
      <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
    <% end %>
    <%= render 'shared/head' %>

    <%= render @accommodation %>

    <div class="">
      <% if @accommodation.user.id == current_user.id || current_user.is_an_admin? %>
        <%= link_to "Edit this accommodation", edit_accommodation_path(@accommodation), class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
        <div class="inline-block ml-2">
          <%= button_to "Destroy this accommodation", accommodation_path(@accommodation), method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
        </div>
      <% end %>
    </div>

    <%= render "accommodations/reviews", accommodation: @accommodation, reviews: @reviews %>
  </div>
</div>
