<%= content_tag :div, id: (dom_id user) do %>
  <h1 class="font-bold text-4xl"><%= user.email %></h1>

  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= user.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= user.phone %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Emergency contact:</strong>
    <%= user.emergency_contact %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Role:</strong>
    <%= user.role.name.capitalize %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Image:</strong>
    <%= image_tag user.image if user.image.attached? %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this user", user, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this user", edit_users_management_path(user), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
<% end %>
