<section class="container-profile">
  <div class="head">
    <div class="nav">
      <ol>
        <li>
          <span><%= link_to 'Account', root_path %></span>
        </li>
        <li>
          <div>
            <svg viewBox="0 0 18 18" role="presentation" aria-hidden="true" focusable="false" style="height:10px;width:10px;fill:#767676"><path d="m4.29 1.71a1 1 0 1 1 1.42-1.41l8 8a1 1 0 0 1 0 1.41l-8 8a1 1 0 1 1 -1.42-1.41l7.29-7.29z" fill-rule="evenodd"></path></svg>
          </div>
          <span>Personal Information</span>
        </li>
      </ol>
    </div>
    <h1>Personal Information</h1>
  </div>
  <div class="profile">
    <div class="info">
      <div class="row">
        <div class="container-data">
          <div class="data">
            <div class="attribute">
              <div class="name">
                <h2>Legal Full Name</h2>
              </div>
              <div class="attribute-data">
                <h3><%= @user.name %></h3>
              </div>
            </div>
            <div class="action">
              <%# <%= link_to 'Edit',  %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container-data">
          <div class="data">
            <div class="attribute">
              <div class="name">
                <h2>Email</h2>
              </div>
              <div class="attribute-data">
                <p><%= @user.email %></p>
              </div>
            </div>
            <div class="action">
              <%# <%= link_to 'Edit',  %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container-data">
          <div class="data">
            <div class="attribute">
              <div class="name">
                <h2>Phone Number</h2>
              </div>
              <div class="attribute-data">
                <p><%= @user.phone %></p>
              </div>
            </div>
            <div class="action">
              <%# <%= link_to 'Edit',  %>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="container-data">
          <div class="data">
            <div class="attribute">
              <div class="name">
                <h2>Profile Picture</h2>
              </div>
              <div class="attribute-data">
                <p><%= @user.image %></p>
              </div>
            </div>
            <div class="action">
              <%# <%= link_to 'Edit',  %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

