<div class="nav-index">
    <div class="part1 bg-black">
      <%= link_to 'Reservations', reservations_path , class:"text-lg no-underline text-white mr-5 hover:underline"%>
      <%= link_to 'Acommodations',accommodations_path , class:"text-lg no-underline text-white mr-5 hover:underline" %>
    </div>
    <div class="part2 active bg-black">
      <%= link_to 'Become a host ','aqui va la ruta',class:"no-underline" %>
        <% unless user_signed_in? %>
          <%= link_to 'Log In', new_user_session_path %>
        <% else %>
          <%= link_to profile_path, class: "no-underline" do %>
            <span class="custom-icon-circle">
            <i class="fa-solid fa-user fa-2xl" style="color: #000000;"></i>
          <% end %>
        <% end %>
    </div>
</div>
