

<div class="degradado">
  <div class="nav-index">
    <div class="part1">
      <%= link_to 'Place to stay', 'aqui va la ruta',
      class:"no-underline text-white mr-5 transition-colors hover:underline"%>
      <%= link_to 'Experiences', 'aqui va la ruta',
      class:"no-underline text-white mr-5 hover:underline"%>
      <%= link_to 'Online Experiences','aqui va la ruta',
      class:"no-underline text-white mr-5 hover:underline" %>
    </div>

    <div class="part2">
      <%= link_to 'Become a host ','aqui va la ruta',class:"no-underline"%>
      <%= link_to 'icon','aqui va la ruta',class:"no-underline"%>
    </div>
  </div>

  <li class="nav-item active">
    <% unless user_signed_in? %>
      <%= link_to 'Iniciar sesión', new_user_session_path %>
    <% else %>
      <%= link_to 'Profile', profile_path, class:"no-underline"%>
      <%= link_to 'Cerrar sesión', destroy_user_session_path, data: { turbo_method: :delete } %>
    <% end %>
  </li>

  <div class="search-bar">
    <%= link_to 'Location', 'aqui va la ruta', class: "search-bar-option no-underline" %>
    <%= link_to 'Check-in', 'aqui va la ruta', class: "search-bar-option no-underline" %>
    <%= link_to 'Check-out', 'aqui va la ruta', class: "search-bar-option no-underline" %>
    <%= link_to 'Guest', 'aqui va la ruta', class: "search-bar-option no-underline" %>
  </div>
</div>
