<section class="degradado">
  <div class='home-container'>
    <%= render 'shared/navbar' %>
    <div class="search-bar">
      <%= link_to 'Location', 'aqui va la ruta', class: "search-bar-option no-underline" %>
      <%= link_to 'Check-in', 'aqui va la ruta', class: "search-bar-option no-underline" %>
      <%= link_to 'Check-out', 'aqui va la ruta', class: "search-bar-option no-underline" %>
      <%= link_to 'Guest', 'aqui va la ruta', class: "search-bar-option no-underline" %>
      <a><i class="fa-solid fa-magnifying-glass" style="color: #B197FC;"></i></a>
    </div>
  </div>
</section>