<%= form_with(model: reservation, class: "contents", 
              data: { controller: "reservationdatespicker", 
                      reservationdatespicker_reservation_id_value: reservation.id }) do |form| %>
  <% if reservation.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

      <ul>
        <% reservation.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4">
    <% if current_user.is_an_admin? %>
      <div class="my-3 ">
        <%= form.label :user, class: "block font-semibold" %>
        <%= form.select(:user_id, User.where(role_id: 4).collect { |user| [user.email, user.id] }, { include_blank: false },
                      { class: "block shadow-sm rounded-md border border-gray-300 outline-none px-3 py-2 mt-1 w-full", data: { controller: "tomselect" } }) %>
      </div>
    <% else %>
      <div class="my-3 hidden">
        <%= form.hidden_field :user_id, value: current_user.id %>
      </div>
    <% end %>

    <div class="my-3 ">
      <%= form.label :accommodation, class: "block font-semibold" %>
      <%= form.select(:accommodation_id, Accommodation.all.collect { |accommodation| [accommodation.title, accommodation.id] }, { include_blank: false },
                      { class: "block shadow-sm rounded-md border border-gray-600 outline-none px-3 py-2 mt-1 w-full", data: { controller: "tomselect", "reservationdatespicker-target": "accommodation" } }) %>
    </div>

    <div class="my-3 ">
      <%= form.label :dates_range, class: "block font-semibold" %>
      <%= form.text_field :dates_range, value: reservation.dates_range,
                        class: 'block shadow-sm rounded-md border border-gray-300 outline-none px-3 py-2 mt-1 w-full', 
                        data: { "reservationdatespicker-target": "datesrange" } %>
    </div>

    <% if %w[new create].exclude?(action_name) %>
      <div class="my-3">
        <%= form.check_box :active, class: "rounded text-indigo-600 focus:ring-indigo-500 h-4 w-4" %>
        <%= form.label :active, 'Active?', class: 'ml-2 text-start font-semibold' %>
      </div>
    <% else %>
      <div class="hidden">
        <%= form.hidden_field :active, value: true %>
      </div>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit "Update Reservation", class: "reservations-buttons border-b-none flex items-center underline black-text" %>
  </div>
<% end %>
