
<%= form_with url: reservations_path, method: :get do |form| %>
  <div class="flex flex-row justify-center items-center ">
    <div class="flex flex-row bg-gray-100 w-11/12 rounded-sm shadow">
      <div class="w-1/4 p-4">
        <%= form.label :guests_ids, 'Guests', class: 'text-' %>
        <%= form.select(:guests_ids, options_for_select(User.where(role_id: 4).collect { |user| [user.email, user.id] },
                        params[:guests_ids]), { include_blank: false, include_hidden: false },
                        { class: "shadow w-72", data: { controller: "tommultipleselect" }, multiple: true }) %>
      </div>

      <div class="w-1/4 p-4">
        <%= form.label :accommodations_ids, 'Accommodations' %>
        <%= form.select(:accommodations_ids, options_for_select(Accommodation.all.collect { |accommodation| [accommodation.title, accommodation.id] },
                        params[:accommodations_ids]), { include_blank: true, include_hidden: false },
                        { class: "shadow w-72", data: { controller: "tommultipleselect" }, multiple: true }) %>
      </div>

      <div class="w-1/4 p-4">
        <%= form.label :dates_range, class: "block" %>
        <%= form.text_field :dates_range, value: params[:dates_range], data: {controller: "daterangepicker"},
                            class: 'rounded-lg' %>
      </div>

      <div class="w-1/4 p-4 mt-3">
        <%= form.check_box :date_filter, { checked: ActiveModel::Type::Boolean.new.cast(params[:date_filter]), include_hidden: false }, 
                            'true', 'false' %>
        <%= form.label :date_filter, 'Filter with dates range', class: 'text-start font-semibold' %>
      </div>

      <div class="w-1/4 p-4 mt-3">
        <%= form.check_box :active, { checked: ActiveModel::Type::Boolean.new.cast(params[:active]), include_hidden: false }, 
                              'true', 'false' %>
        <%= form.label :active, 'Show only active reservations', class: 'text-start font-semibold' %>
      </div>

    </div>
  </div>
  <div class='flex justify-center p-6'>
      <%= form.submit 'Search', class: 'bg-blue-500 text-white p-2 rounded-lg' %>
      <%= link_to 'Clear', reservations_path, class: 'bg-gray-100 text-white p-2 rounded-lg' %>
  </div>
<% end %>
