<head>
  <link rel="stylesheet" href="/assets/show_reservation.css">
</head>

<div class="container">
  <div class="reservation">
    <% if notice.present? %>
      <p class="notice" id="notice"><%= notice %></p>
    <% end %>
    <%= render @reservation %>
    <div class="actions">
      <% if @reservation.user.id == current_user.id || current_user.is_an_admin? %>
        <a href="<%= edit_reservation_path(@reservation) %>" class="edit-link">Edit this reservation</a>
        <div class="inline-block ml-2">
          <%= button_to "Destroy this reservation", reservation_path(@reservation), method: :delete, class: "delete-button" %>
        </div>
      <% end %>
      <a href="<%= reservations_path %>" class="back-link">Back to reservations</a>
    </div>
  </div>
</div>