<%= form_with(model: user, url: url, class: "contents") do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, id: "name", autocomplete: "OFF", 
                        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :email %>
    <%= form.text_field :email, id: "email", autocomplete: "OFF", 
                        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: "phone", autocomplete: "OFF", 
                        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :emergency_contact %>
    <%= form.text_field :emergency_contact, id: "emergency_contact", autocomplete: "OFF", 
                        class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :image %>
    <%= form.file_field :image, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <% if user.image_is_saved_and_exists? %>
      <div class="my-5">
        <div class="mb-3">
          <%= image_tag user.image %>
        </div>
        <%= link_to "Remove", remove_image_users_management_path(user.image.id), class: "rounded-lg py-1 px-3 bg-red-600 text-white inline-block font-medium cursor-pointer",
                    method: :delete, data: { turbo_method: :delete } %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :role %>
    <%= form.select(:role_id, Role.where(id: [2, 3, 4]).collect { |role| [role.name.capitalize, role.id] }, { include_blank: false },
                    { class: "shadow w-full", data: { controller: "tomselect" } }) %>
  </div>

  <% if %w[new create].include?(action_name) %>
    <div class="my-5">
      <%= form.label :password %>
      <%= form.password_field :password, autocomplete: "new-password", 
                              class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
 
    <div class="my-5">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, autocomplete: "new-password",
                              class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
    </div>
  <% end %>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
