<%= content_tag :div, id: (dom_id post), class: "bg-gray-100 rounded-lg shadow-lg p-6 mb-4" do %>
  <div class="text-center mb-4">
    <h1 class="font-bold text-3xl text-purple-800"><%= post.title %></h1>
    <p class="text-lg text-left text-purple-600">User: <span class="text-black"><%= post.user.email %></span></p>
  </div>

  <p class="text-lg text-left text-purple-600">Content: <span class="text-black"><%= post.content %></span></p>

  <% if action_name != "show" %>
    <div class="flex justify-end">
      <%= link_to "Show this post", post, class: "text-sm text-purple-600 font-medium mr-4" %>
      <%= link_to "Edit this post", edit_post_path(post), class: "text-sm text-purple-600 font-medium" %>
    </div>
  <% end %>
<% end %>
