<h2 class="break-all mt-0 mb-4">Filtering params</h2>
<%= form_with url: posts_path, method: :get do |form| %>
  <div>
    <div>
      <div class="my-5">
        <%= form.label :users_ids, 'Users' %>
        <%= form.select(:users_ids, options_for_select(User.all.collect { |user| [user.email, user.id] },
                        params[:users_ids]), { include_blank: false, include_hidden: false },
                        { class: "shadow w-72", data: { controller: "tommultipleselect" }, multiple: true }) %>
      </div>

      <div class="my-5">
        <%= form.label :title %>
        <%= form.text_field :title, value: params[:title],
                            class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-72" %>
      </div>
    </div>

    <div class='flex flex-col items-center min-[250px]:flex-row'>
      <%= form.submit 'Search', class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium' %>
      <%= link_to 'Clear', posts_path, class: 'rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium ml-3 no-underline' %>
    </div>
  </div>
<% end %>
