<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Posts</h1>
    <div>
      <%= link_to "Home", root_path, class: "inline-block rounded-lg text-center py-3 px-5 bg-blue-600 text-white block font-medium" %>
      <%= link_to "New post", new_post_path, class: "inline-block rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
    </div>
  </div>

  <div>
    <%= render "search_filter_form" %>
  </div>

  <div id="posts" class="min-w-full">
    <% @posts.each do |post| %>
      <h2><%= post.title %></h2>
      <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <% if post.user.id == current_user.id || current_user.is_an_admin? %>
        <%= link_to "Edit this post", edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <% end %>
      <hr class="mt-6">
    <% end %>
  </div>

  <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
</div>
