<%= content_tag :div, id: (dom_id review), class: "mb-10", data: { controller: "places" } do %>
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= review.user.email %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Title:</strong>
    <%= review.title %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rating:</strong>
    <%= review.rating %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <%= review.content %>
  </p>

  <% if review.user.id == current_user.id || current_user.is_an_admin? %>
    <%= button_to "Destroy this review", [review.accommodation, review], method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  <% end %>

  <% if action_name != "show" %>
    <hr class="mt-6">
  <% end %>
<% end %>
