<%= content_tag :div, id: (dom_id review), class: "mb-10", data: { controller: "places" } do %>
  <div class="card-review">
    <div class="card-header">
      <div class="user-name">
        <h4><%= review.user.name %></h4>
        <h5><%= review.title %></h5>
      </div>
      <div class="info-container">
        <i class="fa-solid fa-star" style="color: #7752fe;"></i>
        <%= review.rating %>
      </div>
    </div>
    <div class="card-body">
      <p><%= review.content %></p>
    </div>
  </div>

  <% if action_name != "show" %>
    <hr class="mt-6">
  <% end %>
<% end %>
