<%= content_tag :div, id: (dom_id review), class: "mb-10", data: { controller: "places" } do %>
  <div class="card-review">
    <div class="card-header">
      <div class="user-name">
        <h4><%= review.user.name %></h4>
        <h5><%= review.title %></h5>
      </div>
      <div class="info-container">
        <i class="fa-solid fa-star" style="color: #7752fe;"></i>
        <%= review.rating %>
      </div>
    </div>
    <div class="card-body">
      <p><%= review.content %></p>
    </div>
  </div>

  <% if review.user.id == current_user.id || current_user.is_an_admin? %>
    <%= button_to "Destroy this review", [review.accommodation, review], method: :delete, class: "mt-2 rounded-lg py-3 px-5 bg-gray-100 font-medium" %>
  <% end %>

  <% if action_name != "show" %>
    <hr class="mt-6">
  <% end %>
<% end %>
