<div class="places-list" data-controller="slider">

  <div class="container">
    <div class="slider-wrapper">
      <div class="slider-container">
        <div class="slider">
          <div class="slider-items" data-target="slider.sliderItems">
            <!-- Aquí colocas tus iconos -->
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title active">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
            <a href="" data-target="slider.sliderItem">
              <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %>
                <p class="categorie-title">Rooms</p>
              </div>
            </a>
          </div>
        </div>

      </div>
      <button class="prev-button" data-action="click->slider#prevSlide" data-target="slider.prevButton">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>

      </button>
      <button class="next-button" data-action="click->slider#nextSlide" data-target="slider.nextButton">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="w-6 h-6">
          <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
      </button>
    </div>
    <div class="taxes-wrapper">
      <div class="taxes-container">
        <div class="text-wrapper">
          <p class="taxes-title">Display total price</p>
          <p class="taxes-text">Includes all fees, before taxes</p>
        </div>
        <div class="toggle-button">
          <input type="checkbox" id="toggle" class="toggle-input">
          <label for="toggle" class="toggle-label"></label>
        </div>
      </div>
    </div>
    <div class="places-wrapper">
      <div class="place-container">
        <div class="gallery-wrapper">
          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="0"
                class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="prev">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="next">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
            </button>
          </div>
          <button class="like-this">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
            </svg>
          </button>
        </div>
        <div class="gallery-header">
          <p class="gallery-title">Hyderabad, India</p>
          <div class="star-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
              viewBox="0 0 16 16">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
            <p class="gallery-title">5.0</p>
          </div>
        </div>
        <div class="gallery-info">
          <p class="general-info">Design with Raul</p>
          <p class="general-info">UX Designer</p>
        </div>
        <p class="gallery-title">$1,500 screen</p>
      </div>
      <div class="place-container">
        <div class="gallery-wrapper">
          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="0"
                class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="prev">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="next">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
            </button>
          </div>
          <button class="like-this">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
            </svg>
          </button>
        </div>
        <div class="gallery-header">
          <p class="gallery-title">Hyderabad, India</p>
          <div class="star-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
              viewBox="0 0 16 16">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
            <p class="gallery-title">5.0</p>
          </div>
        </div>
        <div class="gallery-info">
          <p class="general-info">Design with Raul</p>
          <p class="general-info">UX Designer</p>
        </div>
        <p class="gallery-title">$1,500 screen</p>
      </div>
      <div class="place-container">
        <div class="gallery-wrapper">
          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="0"
                class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="prev">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="next">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
            </button>
          </div>
          <button class="like-this">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
            </svg>
          </button>
        </div>
        <div class="gallery-header">
          <p class="gallery-title">Hyderabad, India</p>
          <div class="star-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
              viewBox="0 0 16 16">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
            <p class="gallery-title">5.0</p>
          </div>
        </div>
        <div class="gallery-info">
          <p class="general-info">Design with Raul</p>
          <p class="general-info">UX Designer</p>
        </div>
        <p class="gallery-title">$1,500 screen</p>
      </div>
      <div class="place-container">
        <div class="gallery-wrapper">
          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="0"
                class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="prev">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="next">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
            </button>
          </div>
          <button class="like-this">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
            </svg>
          </button>
        </div>
        <div class="gallery-header">
          <p class="gallery-title">Hyderabad, India</p>
          <div class="star-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
              viewBox="0 0 16 16">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
            <p class="gallery-title">5.0</p>
          </div>
        </div>
        <div class="gallery-info">
          <p class="general-info">Design with Raul</p>
          <p class="general-info">UX Designer</p>
        </div>
        <p class="gallery-title">$1,500 screen</p>
      </div>
      <div class="place-container">
        <div class="gallery-wrapper">
          <div id="carouselExampleIndicators1" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="0"
                class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="slider.#carouselExampleIndicators1" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="..." class="d-block w-100" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="prev">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
              </svg>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="slider.#carouselExampleIndicators1"
              data-bs-slide="next">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
              </svg>
            </button>
          </div>
          <button class="like-this">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314" />
            </svg>
          </button>
        </div>
        <div class="gallery-header">
          <p class="gallery-title">Hyderabad, India</p>
          <div class="star-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill"
              viewBox="0 0 16 16">
              <path
                d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
            </svg>
            <p class="gallery-title">5.0</p>
          </div>
        </div>
        <div class="gallery-info">
          <p class="general-info">Design with Raul</p>
          <p class="general-info">UX Designer</p>
        </div>
        <p class="gallery-title">$1,500 screen</p>
      </div>
    </div>
  </div>
</div>
