<div class="places-list">

  <div class="container">
    <div class="slider-wrapper">
    <div class="slider-container">
      <div class="slider">
        <div class="slider-items">
          <!-- Aquí colocas tus iconos -->
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <div class="slider-item"><%= image_tag 'RoomsIcon.svg', class: '' %></div>
          <!-- Agrega más elementos aquí -->
        </div>
      </div>

    </div>
    <button class="prev-button" onclick="prevSlide()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
      </svg>

    </button>
    <button class="next-button" onclick="nextSlide()">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
      </svg>
    </button>
    </div>
  </div>
</div>
