<div class="sign-up row">
  <div class="left-side">
    <%= image_tag 'IMG.jpg', class: 'w-100 h-100' %>
  </div>
  <div class="right-side">
    <h2 class="title">Create an account</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "users/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "john.doe@gmail.com", class: "form-input" %>
      </div>

      <div class="field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <label>(<%= @minimum_password_length %> characters minimum)</label>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-input", placeholder: "Enter password" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-input", placeholder: "Confirm password" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "btn-primary" %>
      </div>
    <% end %>

    <%= button_to "Sign up with Google", user_google_oauth2_omniauth_authorize_path, method: :post, data: {turbo: "false"},
                    class: "block text-center btn-primary w-100" %>
    <%= button_to "Sign up with Facebook", user_facebook_omniauth_authorize_path, method: :post, data: {turbo: "false"},
                    class: "block text-center btn-primary w-100" %>
  </div>
</div>
